<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserMapper">


    <select id="selectById" resultType="com.mybatis.entity.User" parameterType="String">
        select username,password,enabled from users where username = #{username}
        <!--        <where>-->
        <!--            <if test="username != null and username != ''">-->
        <!--                -->
        <!--            </if>-->
        <!--        </where>-->
    </select>

    <select id="selectAllUser" resultType="com.mybatis.entity.User">
        select username, password, enabled
        from users
    </select>
</mapper>

